<!-- Template options -->
<fieldset>
<legend>{{ localize "Template" }}</legend>
<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.hide-border.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.hide-border.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.hideBorder">
      {{ selectOptions walledtemplates.hideoptions selected=item.flags.walledtemplates.hideBorder localize=true }}
    </select>
  </div>
  <p class="hint">
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.hide-highlighting.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.hide-highlighting.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.hideHighlighting">
      {{ selectOptions walledtemplates.hideoptions selected=item.flags.walledtemplates.hideHighlighting localize=true }}
    </select>
  </div>
  <p class="hint">
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.show-hover.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.show-hover.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.showOnHover">
      {{ selectOptions walledtemplates.hideoptions selected=item.flags.walledtemplates.showOnHover localize=true }}
    </select>
  </div>
  <p class="hint">
</div>
</fieldset>

<!-- Walls options -->
<fieldset>
<legend>{{ localize "walledtemplates.MeasuredTemplateConfiguration.legend.walls" }}</legend>
<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.wallsBlock">
      {{ selectOptions walledtemplates.blockoptions selected=item.flags.walledtemplates.wallsBlock localize=true }}
    </select>
  </div>
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.walls-restriction-type.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.wallRestriction">
      {{ selectOptions walledtemplates.walloptions selected=item.flags.walledtemplates.wallRestriction localize=true }}
    </select>
  </div>
</div>
</fieldset>

<!-- Tokens options -->
<fieldset>
<legend>{{ localize "walledtemplates.MeasuredTemplateConfiguration.legend.tokens" }}</legend>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.no-autotarget.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.no-autotarget.Hint"></i>
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.noAutotarget" {{checked item.flags.walledtemplates.noAutotarget}}></i>
  </div>
  <p class="hint">
</div>

<div class="form-group">
  <label class="checkbox">{{localize "walledtemplates.dnd5e-spell-config.add-token-size.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.dnd5e-spell-config.add-token-size.Hint"></i>
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.addTokenSize" {{checked item.flags.walledtemplates.addTokenSize}}/>
  </div>
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.dnd5e-spell-config.attach-token.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.attach-token.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.attachToken">
      {{ selectOptions walledtemplates.attachtokenoptions selected=item.flags.walledtemplates.attachToken localize=true }}
    </select>
  </div>
</div>
</fieldset>

<!-- Snapping options -->
<fieldset>
<legend>{{ localize "walledtemplates.MeasuredTemplateConfiguration.legend.snapping" }}</legend>

<div class="form-group">
  <label>{{localize "walledtemplates.settings.submenu.snap-center.Name"}}
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.snapCenter" {{checked item.flags.walledtemplates.snapCenter}}/>
  </div>
  <p class="hint">
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.settings.submenu.snap-corner.Name"}}
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.snapCorner" {{checked item.flags.walledtemplates.snapCorner}}/>
  </div>
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.settings.submenu.snap-midpoint.Name"}}
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.snapSideMidpoint" {{checked item.flags.walledtemplates.snapSideMidpoint}}/>
  </div>
  <p class="hint">
</div>
</fieldset>
