<p class="notes">{{ localize "walledtemplates.MeasuredTemplateConfiguration.hint" }}</p>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.hide-border.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.hide-border.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.hideBorder">
      {{ selectOptions walledtemplates.hideoptions selected=document.flags.walledtemplates.hideBorder localize=true }}
    </select>
  </div>
  <p class="hint">
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.hide-highlighting.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.hide-highlighting.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.hideHighlighting">
      {{ selectOptions walledtemplates.hideoptions selected=document.flags.walledtemplates.hideHighlighting localize=true }}
    </select>
  </div>
  <p class="hint">
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.show-hover.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.show-hover.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.showOnHover">
      {{ selectOptions walledtemplates.hideoptions selected=document.flags.walledtemplates.showOnHover localize=true }}
    </select>
  </div>
  <p class="hint">
</div>

<fieldset>
  <legend>{{localize "walledtemplates.MeasuredTemplateConfiguration.legend.walls"}}</legend>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}
     <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.wallsBlock">
      {{ selectOptions walledtemplates.blockoptions selected=document.flags.walledtemplates.wallsBlock localize=true }}
    </select>
  </div>
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.walls-restriction-type.Hint"></i>
  </label>
  <div class="form-fields">
    <select name="flags.walledtemplates.wallRestriction">
      {{ selectOptions walledtemplates.walloptions selected=document.flags.walledtemplates.wallRestriction localize=true }}
    </select>
  </div>
</div>
</fieldset>
<br>

<fieldset>
  <legend>{{localize "walledtemplates.MeasuredTemplateConfiguration.legend.tokens"}}</legend>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.no-autotarget.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.no-autotarget.Hint"></i>
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.noAutotarget" {{checked document.flags.walledtemplates.noAutotarget}}/>
  </div>
  <p class="hint">
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.attach-token.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.attach-token.Hint"></i>
  </label>
  <div class="form-fields">
    <span class="display-value"><em>{{walledtemplates.attachedTokenName}}</em></span>
    <button type="button" data-type="token" data-target="data.entity" class="walledtemplates-entity-picker" id="walledtemplates-useSelectedToken" title="{{localize 'walledtemplates.MeasuredTemplateConfiguration.attach-token.useSelectedToken'}}"><i class="fas fa-user-alt fa-sm"></i></button>
    <button type="button" data-type="token" data-target="data.entity" class="walledtemplates-entity-picker" id="walledtemplates-useTargetedToken" title="{{localize 'walledtemplates.MeasuredTemplateConfiguration.attach-token.useTargetedToken'}}"><i class="fas fa-crosshairs fa-sm"></i></button>
    <button type="button" {{ disabled (not walledtemplates.hasAttachedToken) }} data-type="token" data-target="data.entity" class="walledtemplates-entity-picker" id="walledtemplates-removeAttachedToken" title="{{localize 'walledtemplates.MeasuredTemplateConfiguration.attach-token.removeToken'}}"><i class="fas fa-user-slash fa-sm"></i></button>
  </div>
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.rotate-with-token.Name"}}
    <i class="tip fas fa-info-circle" data-tooltip="walledtemplates.MeasuredTemplateConfiguration.rotate-with-token.Hint"></i>
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.rotateWithAttachedToken" {{checked document.flags.walledtemplates.rotateWithToken}}/>
  </div>
  <p class="hint">
</div>
</fieldset>
<br>

<fieldset>
  <legend>{{localize "walledtemplates.MeasuredTemplateConfiguration.legend.snapping"}}</legend>

<div class="form-group">
  <label>{{localize "walledtemplates.settings.submenu.snap-center.Name"}}
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.snapCenter" {{checked document.flags.walledtemplates.snapCenter}}/>
  </div>
  <p class="hint">
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.settings.submenu.snap-corner.Name"}}
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.snapCorner" {{checked document.flags.walledtemplates.snapCorner}}/>
  </div>
</div>

<div class="form-group">
  <label>{{localize "walledtemplates.settings.submenu.snap-midpoint.Name"}}
  </label>
  <div class="form-fields">
    <input type="checkbox" name="flags.walledtemplates.snapSideMidpoint" {{checked document.flags.walledtemplates.snapSideMidpoint}}/>
  </div>
  <p class="hint">
</div>
</fieldset>
<br>

