<form autocomplete="off" class="flexcol">

  <!-- Configuration Tabs -->
  <nav class="sheet-tabs tabs" data-group="main" aria-role="{{localize 'SHEETS.FormNavLabel'}}">
      <a class="item" data-tab="basic"><i class="fas fa-ruler-combined"></i> {{localize "DOCUMENT.MeasuredTemplate"}}</a>
      <a class="item" data-tab="walledtemplates"><i class="fas fa-object-group"></i> {{localize "walledtemplates.MeasuredTemplateConfiguration.LegendTitle"}}</a>
  </nav>

  <!-- Basic Tab -->

  <div class="tab" data-tab="basic" data-group="main">
    {{> "modules/walledtemplates/templates/foundry-template-config.html"}}
  </div>

  <!-- Walled Templates Tab -->
   <div class="tab" data-tab="walledtemplates" data-group="main">
     <p class="notes">{{ localize "walledtemplates.MeasuredTemplateConfiguration.hint" }}</p>
     {{> "modules/walledtemplates/templates/measured-template-config.html"}}
  </div>

  <footer class="sheet-footer">
    <button type="submit">
      <i class="far fa-save"></i> {{ localize submitText }}
    </button>
  </footer>

</form>