<form class="{{classes}} lib-wrapper" autocomplete="off">
	<nav class="sheet-tabs tabs">
	  {{#each shapes}}
      <a class='item' data-tab='{{this.key}}'>{{localize (concat 'walledtemplates.settings.default_' this.key '.Name') }}</a>
    {{/each}}
	</nav>

  <header class="sheet-header flexrow">
    <br>
    <hr>
    <br>
  </header>

 {{#each shapes}}
   <section class='tab' data-tab='{{this.key}}'>
     <div class="form-group">
       <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}</label>
       <div class="form-fields">
         <select name="{{ concat this.key '.DEFAULT_WALLS_BLOCK' }}">
           {{ selectOptions ../blockoptions selected=this.DEFAULT_WALLS_BLOCK localize=true }}
         </select>
       </div>
       <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"}}</p>
     </div>

     <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}</label>
      <div class="form-fields">
        <select name="{{ concat this.key '.DEFAULT_WALL_RESTRICTIONS' }}">
          {{ selectOptions ../walloptions selected=this.DEFAULT_WALL_RESTRICTIONS localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-restriction-type.Hint"}}</p>
    </div>

    {{#unless (eq this "rect") }}
    <div class="form-group">
      <label>{{localize (concat "walledtemplates.settings.diagonal-scaling-" this.key ".Name") }}</label>
      <div class="form-fields">
        <input type="checkbox" name="{{ concat this.key '.DIAGONAL_SCALING' }}" {{ checked this.DIAGONAL_SCALING }}>
      </div>
      <p class="hint">{{ localize (concat "walledtemplates.settings.diagonal-scaling-" this.key ".Hint") }}</p>
    </div>
    {{/unless}}

   </section>
 {{/each}}

  <!--

  <section class='tab' data-tab='circle'>
    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}</label>
      <div class="form-fields">
        <select name="circle.DEFAULT_WALLS_BLOCK">
          {{ selectOptions blockoptions selected=data.circle.DEFAULT_WALLS_BLOCK localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}</label>
      <div class="form-fields">
        <select name="circle.DEFAULT_WALL_RESTRICTIONS">
          {{ selectOptions walloptions selected=circle.DEFAULT_WALL_RESTRICTIONS localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-restriction-type.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.settings.diagonal-scaling-circle.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="circle.DIAGONAL_SCALING" {{ checked circle.DIAGONAL_SCALING }}>
      </div>
      <p class="hint">{{ localize "walledtemplates.settings.diagonal-scaling-circle.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-height-type.Name"}}</label>
      <div class="form-fields">
        <select name="circle.DEFAULT_HEIGHT">
          {{ selectOptions walloptions selected=circle.DEFAULT_HEIGHT localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-height-type.Hint"}}</p>
    </div>

  </section>

  <section class='tab' data-tab='cone'>
    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}</label>
      <div class="form-fields">
        <select name="cone.DEFAULT_WALLS_BLOCK">
          {{ selectOptions blockoptions selected=cone.DEFAULT_WALLS_BLOCK localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}</label>
      <div class="form-fields">
        <select name="cone.DEFAULT_WALL_RESTRICTIONS">
          {{ selectOptions walloptions selected=cone.DEFAULT_WALL_RESTRICTIONS localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-restriction-type.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.settings.diagonal-scaling-cone.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="cone.DIAGONAL_SCALING" {{ checked cone.DIAGONAL_SCALING }}>
      </div>
      <p class="hint">{{ localize "walledtemplates.settings.diagonal-scaling-cone.Hint"}}</p>
    </div>
  </section>

  <section class='tab' data-tab='ray'>
    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}</label>
      <div class="form-fields">
        <select name="ray.DEFAULT_WALLS_BLOCK">
          {{ selectOptions blockoptions selected=ray.DEFAULT_WALLS_BLOCK localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}</label>
      <div class="form-fields">
        <select name="ray.DEFAULT_WALL_RESTRICTIONS">
          {{ selectOptions walloptions selected=ray.DEFAULT_WALL_RESTRICTIONS localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-restriction-type.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.settings.diagonal-scaling-ray.Name"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="ray.DIAGONAL_SCALING" {{ checked ray.DIAGONAL_SCALING }}>
      </div>
      <p class="hint">{{ localize "walledtemplates.settings.diagonal-scaling-ray.Hint"}}</p>
    </div>
  </section>

  <section class='tab' data-tab='rect'>
    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}</label>
      <div class="form-fields">
        <select name="rect.DEFAULT_WALLS_BLOCK">
          {{ selectOptions blockoptions selected=rect.DEFAULT_WALLS_BLOCK localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}</label>
      <div class="form-fields">
        <select name="rect.DEFAULT_WALL_RESTRICTIONS">
          {{ selectOptions walloptions selected=rect.DEFAULT_WALL_RESTRICTIONS localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-restriction-type.Hint"}}</p>
    </div>
  </section>

  -->

  <footer class="sheet-footer flexrow" style="margin: auto; padding-top: 60px">
    <br>
    <button type='submit' name='submit' value='1'><i class='far fa-floppy-disk'></i>{{localize 'Save Changes'}}</button>
  </footer>
</form>