<fieldset>
  <legend>{{ localize "walledtemplates.MeasuredTemplateConfiguration.LegendTitle" }}</legend>

    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}</label>
      <div class="form-fields">
        <select name="flags.walledtemplates.walls-block">
          {{ selectOptions walledtemplates.blockoptions selected=data.flags.walledtemplates.walls-block localize=true }}>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"}}</p>
    </div>

  </legend>
</fieldset>