<fieldset>
  <legend>{{ localize "walledtemplates.MeasuredTemplateConfiguration.LegendTitle" }}</legend>

    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Name"}}</label>
      <div class="form-fields">
        <select name="flags.walledtemplates.wallsBlock">
          {{ selectOptions walledtemplates.blockoptions selected=data.flags.walledtemplates.wallsBlock localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-block.Hint"}}</p>
    </div>

    <div class="form-group">
      <label>{{localize "walledtemplates.MeasuredTemplateConfiguration.wall-restriction-type.Name"}}</label>
      <div class="form-fields">
        <select name="flags.walledtemplates.wallRestriction">
          {{ selectOptions walledtemplates.walloptions selected=data.flags.walledtemplates.wallRestriction localize=true }}
        </select>
      </div>
      <p class="hint">{{ localize "walledtemplates.MeasuredTemplateConfiguration.walls-restriction-type.Hint"}}</p>
    </div>

</fieldset>