<form class="{{classes}} lib-wrapper" autocomplete="off">
	<nav class="sheet-tabs tabs">
		<a class='item' data-tab='circle'>{{localize 'walledtemplates.settings.default_circle.Name'}}</a>
		<a class='item' data-tab='cone'>{{localize 'walledtemplates.settings.default_cone.Name'}}</a>
		<a class='item' data-tab='ray'>{{localize 'walledtemplates.settings.default_ray.Name'}}</a>
		<a class='item' data-tab='rect'>{{localize 'walledtemplates.settings.default_rect.Name'}}</a>
	</nav>

  <section class='tab' data-tab='circle'>


  </section>

  <section class='tab' data-tab='cone'>

  </section>

  <section class='tab' data-tab='ray'>

  </section>

  <section class='tab' data-tab='rect'>

  </section>

  <div style="margin: auto; padding-top: 60px">
	  <button type="button" class="submit" style="width:100%">{{localize 'Save Changes'}}</button>
	</div>
</form>